@model IEnumerable<TechSupportPortal.Models.Channel>
@using TechSupportPortal.Models;

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var user = Session["user"] as Account;
}

<h2>Index</h2>

<p>
    @{
        if (user.Role == AccountRole.Client)
        {
            @Html.ActionLink("Create New", "Create")
        }
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Account.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreatedAt)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsOpen)
        </th>
        @if(user.Role == AccountRole.Agent)
        {
            <th>Join/Leave</th>
        }
        <th></th>
    </tr>

@foreach (var item in Model)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Account.FirstName)
        </td>
        <td>
            @Html.ActionLink(item.Name, "Index", "Home", new { channel = item.ChannelId }, null)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedAt)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsOpen)
        </td>
        @{
            if (user.Role == AccountRole.Agent)
            {
                string text = "Join";
                List<Channel> channels = ViewBag.channels;
                if (channels.Find(e => e.ChannelId == item.ChannelId) != null)
                {
                    text = "Leave";
                }
                <td>
                    @Html.ActionLink(text, "ToggleJoinLeaveChannel", new { channelId = item.ChannelId })
                </td>
            }
            if (user.Role == AccountRole.Client)
            {
                <td>
                    @Html.ActionLink("Close", "CloseChannel", new { channelId = item.ChannelId })
                </td>
            }
        }
    </tr>
}

</table>
