@model IEnumerable<TechSupportPortal.Models.Pack>

@{
    ViewBag.Title = "Prices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prices</h2>

<table class="table">
    <tr>
        <th>Service</th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model=>model.Amount)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @{
                if (item.PackId == 1)
                {
                    <span>Silver</span>
                }
                else if (item.PackId == 2)
                {
                    <span>Gold</span>
                }
                else if(item.PackId == 3)
                {
                    <span>Platinum</span>
                }
                else
                {
                    <span>Opening new channel</span>
                }
            }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @if (item.PackId < 4)
            {
                @Html.DisplayFor(modelItem => item.Amount)
            }
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PackId })
        </td>
    </tr>
}

</table>
